[submodule "ostro-os"]
	path = ostro-os
	url = https://github.com/ostroproject/ostro-os
	branch = master
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang
	branch = krogoth
